.vl {
    border-left: 6px solid purple;
    height: 700px;
}

#tttone {
    border: 3px solid purple;
    height: 150px;
    width: 150px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color:red;
    font-size:75px;
    border-radius: 8px;
}

#ttttwo {
    border: 3px solid purple;
    height: 150px;
    width: 150px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color:red;
    font-size:75px;
    border-radius: 8px;
}

#tttthree {
    border: 3px solid purple;
    height: 150px;
    width: 150px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color:red;
    font-size:75px;
    border-radius: 8px;
}

#tttfour {
    border: 3px solid purple;
    height: 150px;
    width: 150px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color:red;
    font-size:75px;
    border-radius: 8px;
}

#tttfive {
    border: 3px solid purple;
    height: 150px;
    width: 150px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color:red;
    font-size:75px;
    border-radius: 8px;
}

#tttsix {
    border: 3px solid purple;
    height: 150px;
    width: 150px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color:red;
    font-size:75px;
    border-radius: 8px;
}

#tttseven {
    border: 3px solid purple;
    height: 150px;
    width: 150px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color:red;
    font-size:75px;
    border-radius: 8px;
}

#ttteight {
    border: 3px solid purple;
    height: 150px;
    width: 150px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color:red;
    font-size:75px;
    border-radius: 8px;
}

#tttnine {
    border: 3px solid purple;
    height: 150px;
    width: 150px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color:red;
    font-size:75px;
    border-radius: 8px;
}

#playasBX {
    height: 25px;
    width: 25px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

#playasBO {
    height: 25px;
    width: 25px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}